/* You can add global styles to this file, and also import other style files */
html { 
    background: #94d8cd;
}
body, .container {
    background: #94d8cd;
}
.card {
    color: #2a8c7d !important;
    background-color: rgba(255, 251, 251, 0.856) !important;
    font-weight: bold;
}
.modal-backdrop {
    z-index: 5 !important;
}
.modal-content {
    background: #d0ece8;
}
.popover-header {
    background-color: #0d564b;
    color: #fff;
}
.popover-body{
    color: #f5f5f5;
    background: #75600b;
}
.popover-header, .popover-body {
    font-weight: bold;
}